<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12 col-md-6 mx-md-auto px-5 py-2">
      <form class="text-center" autocomplete="off">
        <h4>Login</h4>
        <input
          type="email"
          name="EmailId"
          [(ngModel)]="loginObj.EmailId"
          class="form-control mt-3"
          placeholder="User Name"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <input
          type="password"
          name="Password"
          [(ngModel)]="loginObj.Password"
          class="form-control mt-3"
          placeholder="Password"
          id="exampleInputPassword1"
        />
        <div class="form-label">Forget Password?</div>

        <button type="button" (click)="login()" class="btn btn-primary mt-4">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
